@model DojoActivities.Models.Activity

@{
    ViewData["Title"] = "DojoActivities: @Model.Title";
}

<div class="main">
    <h2>@Model.Title</h2>
    @if(@ViewBag.LoggedUser.UserId == @Model.Creator.UserId){
        <a href="/activity/@Model.ActivityId/delete" class="btn btn-primary">Delete</a>
    } else if(@ViewBag.UserAttending.Contains(@Model.ActivityId)) {
        <a href="/activity/@Model.ActivityId/leave" class="btn btn-primary">Leave</a>
    } else if (@ViewBag.CannotAttend.Contains(@Model.ActivityId)){
        <td>Cannot Attend, Conflicting Activity</td>
    } else {
        <a href="/activity/@Model.ActivityId/join" class="btn btn-primary">Join</a>
    }
</div>
<div class="indent">
    <h3>Event Coordinator: @Model.Creator.FirstName</h3>
    <br>

    <h3>Description</h3>
    <p class="indent">@Model.Description</p>
    <br>
    
    <h3>Participants:</h3>
    @foreach(var rsvp in @Model.RSVPs){
        <h4 class="indent">@rsvp.Attendee.FirstName</h4>
    }
</div>
